.project-github {
    transition: all 0.3s ease-out;
    display: inline-block;
    cursor: pointer;
}

.project-github:hover {
    transform: scale(1.02);
    box-shadow: 0 0 0 2.3px var(--royal-blue);
}

.project-img {
    object-fit: cover;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.btn2 {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.individual-project {
    box-shadow: 0 0 0 2px var(--royal-blue);
    border-radius: 50px;
    box-shadow: rgba(9, 30, 66, 0.25) 1px 7px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}