.desc {
    display: none;
}

.desc.active {
    display: block;
}

.about-heading {
    transition: .3s ease-out;
    cursor: pointer;
    position: relative;
    color: var(--royal-blue);
    font-weight: 800;
    font-family: "Unna", serif;
    cursor: pointer;
    transition: .3s ease-out;
    font-size: 1.8rem;
}

.interests-ul,
.individual-goals ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
}

.individual-interests,
.individial-goal-desc {
    list-style-type: disc;
    list-style-position: inside;
}

.individual-skill-desc {
    font-family: "Quicksand", sans-serif;
}

.individual-skill-heading,
.individial-goal-heading {
    font-family: "Cormorant Garamond", serif;
}

.individual-interests {
    font-family: "Cormorant Garamond", serif;
}

.individial-goal-desc {
    font-family: "Unna", serif;
}

.about-heading:hover {
    transform: scale(1.02);
}

.about-me-img {
    border: none;
}